<div class="row">
  <div class="large-12 columns">
    <h1>All Launchers</h1>
  </div>
</div>


<div class="row">
  <div class="large-6 columns">
  </div>
  <div class="large-6 columns">

    <form action="/users" method="get">
      <div class="row">
        <div class="large-12 columns">
          <div class="row collapse">
            <div class="small-10 columns">
              <input type="text" name="query" id="query"/>
            </div>
            <div class="small-2 columns">
              <input class="button postfix" type="submit" value="Search">
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <table style="margin: 0 auto;">
      <tbody>
        <thead>
          <tr>
            <th width="90" style="text-align: center;">Mood</th>
            <th width="200" style="text-align: center;">Name</th>
            <th width="200" style="text-align: center;">Status</th>
            <th width="500" style="text-align: center;">Current Project</th>
            <th width="100" style="text-align: center;">Paired?</th>
          </tr>
        </thead>
        <% @users.each do |user| %>
        <tr>
          <td><img class="tiny-img happy-mood" src="<%= user['avatar_url'] %>"></td>
          <td><a href="/profile/<%= user['id'] %>"><%= user['name'] %></a></td>
          <% if show_current_status(user['id'])["status"] == "In The Zone" %>
            <td class="button-container"><a href="#" class="button small alert button-index"><%=  show_current_status(user['id'])["status"] %></a></td>
          <% elsif show_current_status(user['id'])["status"] == "Ready To Pair" %>
            <td class="button-container"><a href="#" class="button small success button-index"><%=  show_current_status(user['id'])["status"] %></a></td>
          <% elsif show_current_status(user['id'])["status"] == "Open To Help" %>
            <td class="button-container"><a href="#" class="button small secondary button-index"><%=  show_current_status(user['id'])["status"] %></a></td>
          <% else %>
            <td class="button-container"><a href="#" class="button small button-index"><%=  show_current_status(user['id'])["status"] %></a></td>
          <% end %>
          <td class="button-container"><div class="button project [tiny small large] button-index"><%=  show_current_project(user['id'])["project"] %></div></td>
          <% if paired?(session['user_id'],user['id']) || session['user_id'] == user['id'] %>
            <td class="button-container"><div class="button complete tiny  button" >Complete</div></td>
          <% else %>
            <td class="button-container"><form action="/users/paired/<%= user['id'] %>" method="post"> <input id="complete" class="button paired small" type="submit" value="Paired?"> </form></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
