<p> </p>
<div class="row">
  <div class="large-12 columns">
    <div data-alert class="alert-box info radius">
      This is an alert box that will flash when things change.
      <a href="#" class="close">&times;</a>
    </div>
  </div>
</div>

<div class="row">

  <!-- Left hand side of the page -->
  <div class="large-4 columns">
    <img class="large-img" src="<%= @current_profile["avatar_url"] %>">
    <div class="large-12 columns">
      <a href="/profile/<%= current_user['id'] %>/edit"><h3 class="button large even" style="margin-top: 20px; width: 100%;"> Update Personal Info </h3></a>
      <div class="personal-info">
        <h4> Blog URL </h4>
        <p><a href="<%=@current_personal_info["blog_url"]%>"><%=@current_personal_info["blog_url"]%></a></p>
        <h4> Phone Number </h4>
        <p><%=@current_personal_info["phone_number"]%></p>
        <h4> Email Address </h4>
        <p><%= @current_profile["email"] %></p>
        <h4> Github </h4>
        <p>@<%= @current_profile["username"] %></p>
        <h4>  Twitter </h4>
        <p><%=@current_personal_info["twitter"]%></p>
      </div>
    </div>
  </div>

  <!-- Right hand section of the page -->
  <div class="large-8 columns">
    <h1>Current Status: <span class="button [tiny small large]"  ><%= @current_status["status"] %></span></h1>

    <%= erb :form %>
    <h3> Ideas For My Breakable Toy <h3>
    <p><%=@current_personal_info["breakable_toy"]%></p>

    <h3> People You've Paired With </h3>

    <table style="margin: 0 auto;">
      <tbody>
        <tr>
          <td><img class="tiny-img" src="https://avatars.githubusercontent.com/u/7471018?v=2"></td>
          <td>Spencer Dixon</td>
          <td><a href="#" class="button [tiny small large]">Status</a></td>
          <td><a href="#" class="button [tiny small large]">Current Project</a></td>
          <td><a href="#" class="button [tiny small large]">Paired</a></td>
        </tr>
        <tr>
          <td><img class="tiny-img" src="https://avatars.githubusercontent.com/u/7471018?v=2"></td>
          <td>Spencer Dixon</td>
          <td><a href="#" class="button [tiny small large]">Status</a></td>
          <td><a href="#" class="button [tiny small large]">Current Project</a></td>
          <td><a href="#" class="button [tiny small large]">Paired</a></td>
        </tr>
        <tr>
          <td><img class="tiny-img" src="https://avatars.githubusercontent.com/u/7471018?v=2"></td>
          <td>Spencer Dixon</td>
          <td><a href="#" class="button [tiny small large]">Status</a></td>
          <td><a href="#" class="button [tiny small large]">Current Project</a></td>
          <td><a href="#" class="button [tiny small large]">Paired</a></td>
        </tr>
      </tbody>
    </table>
    <h5> 10% of people paired with</h5>
    <div class="progress">
      <span class="meter" style="width: 10%;"></span>
    </div>
  </div>
</div>
