<p> </p>

<div class="row">
  <!-- Left hand side of the page -->
  <div class="large-4 columns">
    <img class="large-img" src="<%= @current_profile["avatar_url"] %>">
    <div class="large-12 columns">
      <a href="/profile/<%= current_user['id'] %>/edit"><h3 class="button large even" style="margin-top: 20px; width: 100%;"> Update Personal Info </h3></a>
      <div class="personal-info">
        <% unless @current_personal_info.nil? %>
          <h4> Blog URL </h4>
          <p><a href="<%= @current_personal_info["blog_url"] %>"><%=@current_personal_info["blog_url"]%></a></p>
        <% end %>
        <% unless @current_personal_info.nil? %>
          <h4> Phone Number </h4>
          <p><%= @current_personal_info["phone_number"] %></p>
        <% end %>
        <h4> Email Address </h4>
        <p><%= @current_profile["email"] %></p>
        <h4> Github </h4>
        <p>@<%= @current_profile["username"] %></p>
        <% unless @current_personal_info.nil? %>
          <h4>  Twitter </h4>
          <p>@<%= @current_personal_info["twitter"] %></p>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Right hand section of the page -->
  <div class="large-8 columns">
    <table>
      <tr>
        <td><h4>Current Status:</h4></td>
        <% if @current_status["status"] == "In The Zone" %>
          <td width="420"><span class="button small alert"><%= @current_status["status"] %></span></td>
        <% elsif @current_status["status"] == "Ready To Pair" %>
          <td width="420"><span class="button small success"><%= @current_status["status"] %></span></td>
        <% elsif @current_status["status"] == "Open To Help" %>
          <td width="420"><span class="button small secondary"><%= @current_status["status"] %></span></td>
        <% else %>
          <td width="420"><span class="button small"><%= @current_status["status"] %></span></td>
        <% end %>
     </tr>
     <tr>
       <td><h4>Current Project:</h4></td>
       <td width="424"><span class="button small secondary"><%= @current_project["project"] %></span></td>
    </tr>
    </table>

    <% if session['user_id'] == params[:user_id] %>
      <%= erb :form %>
    <% end %>
    <h3> Ideas For My Breakable Toy <h3>
    <% unless @current_personal_info.nil? %>
      <p><%= @current_personal_info["breakable_toy"] %></p>
    <% else %>
      <p> When you get the chance please update your personal information so you can tell others a little bit about your breakable toy.  Feel free to explain things you might need help with so others who are working on a similar feature can find you.  The more collaboration we can create the better! </p>
    <% end %>

    <h3> People You've Paired With </h3>

    <table style="margin: 0 auto;">
      <tbody>
        <tr>
          <td><img class="tiny-img" src="https://avatars.githubusercontent.com/u/7471018?v=2"></td>
          <td>Spencer Dixon</td>
          <td><a href="#" class="button [tiny small large]">Status</a></td>
          <td><a href="#" class="button [tiny small large]">Current Project</a></td>
          <td><a href="#" class="button [tiny small large]">Paired</a></td>
        </tr>
        <tr>
          <td><img class="tiny-img" src="https://avatars.githubusercontent.com/u/7471018?v=2"></td>
          <td>Spencer Dixon</td>
          <td><a href="#" class="button [tiny small large]">Status</a></td>
          <td><a href="#" class="button [tiny small large]">Current Project</a></td>
          <td><a href="#" class="button [tiny small large]">Paired</a></td>
        </tr>
        <tr>
          <td><img class="tiny-img" src="https://avatars.githubusercontent.com/u/7471018?v=2"></td>
          <td>Spencer Dixon</td>
          <td><a href="#" class="button [tiny small large]">Status</a></td>
          <td><a href="#" class="button [tiny small large]">Current Project</a></td>
          <td><a href="#" class="button [tiny small large]">Paired</a></td>
        </tr>
      </tbody>
    </table>
    <h5> 10% of people paired with</h5>
    <div class="progress">
      <span class="meter" style="width: 10%;"></span>
    </div>
  </div>
</div>
