<!-- <h1>All Users</h1>

<% @users.each do |user| %>
  <h3><%= user['name'] %></h3>
  <img src="<%= user['avatar_url'] %>">
  <ul>
    <li>@<%= user['username'] %></li>
    <li><%= user['uid'] %></li>
    <li><%= user['email'] %></li>
  </ul>
<% end %> -->

<h1> All Users Available </h1>
<table class="table">
  <tr>
    <th>Photo</th>
    <th>Name</th>
    <th>Username</th>
    <th>User ID</th>
    <th>Email</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><img class="tiny-img" src="<%= user['avatar_url'] %>"></td>
    <td><%= user['name'] %></td>
    <td>@<%= user['username'] %></td>
    <td><%= user['uid'] %></td>
    <td><%= user['email'] %></td>
  </tr>
  <% end %>
</table>

<h1> All Profiles Available </h1>

<!-- Change Status Form -->
<form action="/users" method="post">
  <label for="status">Status:  </label>
  <input type="text" name="status" id="status" />

  <input type="submit" value="Search" />
</form>

Display Profile Information 
<table class="table">
  <tr>
    <th>ID</th>
    <th>Blog</th>
    <th>Status</th>
  </tr>
  <% @profiles.each do |profile| %>
  <tr>
    <td><%= profile['id'] %></td>
    <td><a href="http://<%= profile['blog'] %>"><%= profile['blog'] %></a></td>
    <td><%= profile['status'] %></td>
  </tr>
  <% end %>
</table>
